:root {
  --pink: #e394ab;
  --pink__dark: #b27587;
  --green: #73bbaa;
  --red: #e66256;
  --yellow: #f6da76;
  --blue: #5853c5;
  --blue__light: #6c66ce;
  --blue__dark: #322ca9;
  --orange: #ffa48e;
  --cyan: #80d0f0;
  --font: 'IBM Plex Sans', sans-serif;
  --font__style: 'Handlee', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--pink);
  line-height: 1.5;
}

#sections h1,
#sections h2,
#sections h3 {
  font-family: var(--font__style);
  text-transform: uppercase;
}

#sections {
  font-family: var(--font);
}

#top img {
  width: 100%;
  display: block;
}
#top .m {
  display: none;
}

#sections {
  padding: 0 1em;
}

section {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px black;
  padding: 0.5em;
  max-width: 1020px;
  margin: 2em auto;
}

section .inner {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 3px black;
  background: white;
  padding: 1em;
}

section h1 {
  font-size: 1.5em;
}

section p {
  margin-top: 1em;
}

section a {
  color: inherit;
  text-decoration: underline;
}

.sponsor-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  margin-top: 1em;
}

.sponsor-list img {
  display: block;
  width: 100%;
}

.sponsor-event #sponsor-toggle {
  margin-top: 1em;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.sponsor-event article,
.sponsor-event .finger {
  display: none;
}

.sponsor-event article.on,
.sponsor-event .finger.on {
  display: inline-block;
}

.bottom img {
  display: block;
  width: 75px;
  margin: 0 auto;
}

dt {
  margin-top: 1em;
  font-weight: bold;
}

.schedule {
  margin-top: 1em;
  margin-bottom: -1em;
}

.schedule .item {
  display: grid;
  grid-template-columns: 10em auto;
  position: relative;
}

.schedule .item p {
  padding: 1em 0;
  margin: 0;
}

.schedule .item:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background-image: url('box-bottom.svg');
  background-size: cover;
}

.schedule .item:nth-child(2n):after {
  background-image: url('box-bottom-alt.svg');
}

.schedule .item:last-child:after {
  display: none;
}

@media screen and (max-width: 800px) {
  #top img.d {
    display: none;
  }
  #top .m {
    display: block;
  }
  section h1 {
    font-size: 1.25em;
  }
  .sponsor-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .schedule .item {
    display: block;
    padding: 1em 0;
  }
  .schedule .item p {
    padding: 0;
  }
  .schedule .item p:first-child {
    font-weight: bold;
  }
}

@media screen and (max-width: 200px) {
  .sponsor-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
