<footer>
  <p>You Got This is a community conference series coordinated by <a href="https://twitter.com/_phzn">Kevin Lewis</a>. Code for this site is on <a href="https://github.com/yougotthisconf/yougotthis.io">GitHub</a>.</p>
</footer>

<style>
footer {
  background: var(--blue);
  color: white;
  padding: 0.5em;
  text-align: center;
}
footer a {
  color: inherit;
}
</style>