<header>
  <div id="mobile">
    <a href="/">You Got This</a>
    <span id="toggle"><span id="state">Show</span> Menu</span>
  </div>
  <div id="primary">
    <span>Core skill conferences, run with love.</span>
    <a href="/conduct">Code of Conduct</a>
    <a href="/run">Run Your Own</a>
  </div>
  <div id="secondary">
    <a href="/" class="main">You Got This</a>
    <a href="/discord">Discord Community</a>
    <a href="https://buttondown.email/yougotthisconf">Newsletter</a>
    <a href="https://dev.to/yougotthisconf">Blog</a>
    <a href="https://twitter.com/yougotthisconf">Twitter</a>
    <a href="/conduct" class='m'>Code of Conduct</a>
    <a href="/run" class='m'>Run Your Own</a>
  </div>
</header>

<script>
const toggle = document.getElementById('toggle')
const secondary = document.getElementById('secondary')
const state = document.getElementById('state')

toggle.addEventListener('click', () => {
  secondary.classList.toggle('on')
  state.innerText = state.innerText == 'Show' ? 'Hide' : 'Show'
})
</script>