<div id="past">
  <h1>Past Events</h1>
  <ul>
    {% for event in past %}
      <li> 
        <span class='name'>{{event.name}}</span>
        <span>{{event.date}} - {{event.location}}</span>
      </li>
    {% endfor %}
  </ul>
</div>