<div id="sponsors">
  <h1>Sponsors of Upcoming & Past Events</h1>
  <div class='list'>
    {% for sponsor in sponsors %}
      <img data-src='/assets/img/sponsors/{{sponsor}}.png' class='lazyload'>
    {% endfor %}
  </div>
</div>