<div id="sponsors">
  <h1>Sponsors of Upcoming & Past Events</h1>
  <div class='list'>
    {% for sponsor in sponsors %}
      <img src='/assets/img/sponsors/{{sponsor.file}}.png' alt='{{sponsor.name}}'>
    {% endfor %}
  </div>
</div>