<div id="highlights" aria-hidden="true">
  <div class="reel">
    <div class="reel-l">
      {% for i in (1..10) %}
        <img src="/assets/img/homepage/{{i}}.jpg">
      {% endfor %}
    </div>
  </div>
  <p><a href="/photos">Click here to view more photos from previous events</a></p>
</div>