<ul class='tags'>
  {% for tag in tags %}
    {% if tag != 'talk' %}
      {% if links %}
        <a href="/tags/{{tag}}">
          <li class='tag'>{{ tag | replace: "-", " " }}</li>
        </a>
      {% else %}
        <li class='tag'>{{ tag | replace: "-", " " }}</li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>