<div id="talks-list">
  <h1>{{title}}</h1>
  <div class='list'>
    {% if filter %}

      {% for talk in collections.talks %}
        {% for tag in talk.data.tags %}
          {% if tag == filter %}
            {% include talk_card, talk: talk %}
          {% endif tag %}
        {% endfor %}      
      {% endfor %}

    {% else %}

      {% for talk in collections.talks %}
        {% include talk_card, talk: talk %}
      {% endfor %}

    {% endif %}
  </div>
</div>