<a class="talk-tile" href="{{talk.data.page.url}}">
  <h2>{{talk.data.talk.title}}</h2>
  <p>
    <span>Presented by {{talk.data.speaker.name}}</span>
    {% if talk.data.speaker.twitter %}
      <span>(@{{talk.data.speaker.twitter}})</span>
    {% endif %}
  </p>
  {% include tag_list, tags: talk.data.tags %}
</a>