#content-page {
  h1 {
    margin: 1.5em 0 1em;
    color: var(--pink);
  }
  
  h2 {
    margin: 1rem 0;
    color: var(--blue);
    font-family: var(--font__header)
  }
  
  article {
    max-width: 700px;
    margin-bottom: 4em;
    p {
      margin-top: 1em;
    }
    ul {
      margin-bottom: 1em;
    }
    li {
      margin-left: 1.5em;
      margin-top: 0.5em;
    }
    a {
      color: inherit;
    }
    h3 {
      margin-top: 1em;
      margin-bottom: -1em;
    }
  }
}
