header {
  width: 100%;
  * {
    color: white;
    text-decoration: none;
  }
  #mobile, .m {
    display: none;
  }

  #primary {
    background: var(--primary__dark);
    padding: 0.5em 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    span {
      margin-right: auto;
    }
    a {
      margin-left: 1em;
    }
  }

  #secondary {
    background: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a.main {
      font-family: var(--font__header)
    }
    > * {
      border-right: 1px solid var(--primary__light);
      padding: 0.75em 1em;
    }
    a:last-child {
      border-right: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .m {
      display: block;
    }
    #mobile {
      background: var(--primary__dark);
      padding: 0.5em 0.75em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        font-family: var(--font__header)
      }
      span {
        cursor: pointer;
      }
    }
    #primary,
    #secondary,
    #secondary a.main {
      display: none;
    }
    
    .on {
      display: block !important;
    }
    #secondary > * {
      border: none;
      display: block;
    }
  }
}