#past {
  h1 {
    margin: 2rem 0 1rem;
    font-family: var(--font__header);
    color: var(--secondary);
    font-size: 2rem;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    list-style: none;
    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }
  li {
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  }
  .name {
    font-family: var(--font__header);
    display: block;
  }
}