#highlights {
  a {
    color: inherit;
    text-align: right;
    display: block;
  }
  .reel {
    height: 100%;
    scrollbar-color: white var(--secondary);
    overflow: hidden;
    img {
      height: 150px;
      margin-right: 0.5em;
      &:last-child {
        padding-right: 0.5em;
      }
    }
  }
  .reel-l {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: var(--secondary);
    background: white;
    border-bottom: 0;
    padding: 0.5em;
    > * {
      height: 100%;
      flex-basis: auto;
      width: auto;
    }
    &::-webkit-scrollbar {
      height: 1rem;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--primary);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      background-image: linear-gradient(
        var(--primary) 0,
        var(--primary) 0.25rem,
        var(--secondary) 0.25rem,
        var(--secondary) 0.75rem,
        var(--primary) 0.75rem
      );
    }
  }
}


@media screen and (max-width: 800px) {
  #highlights img {
    height: 100px;
  }
}