#highlights {
  a {
    color: inherit;
    text-align: right;
    display: block;
  }
  .photos {
    overflow: auto;
    white-space: nowrap;
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
    img {
      border-radius: 5px;
      height: 150px;
      vertical-align: top;
      + img {
        margin-left: 0.5em;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  #highlights .photos img {
    height: 100px;
  }
}