#photo-page {
  h1 {
    margin: 1.5em 0 1em;
    color: var(--pink);
  }
  img {
    width: 100%;
    display: block;
  }
  .event {
    background: white;
    padding: 1em 1.25em;
    margin-bottom: 2em;
    h2 {
      font-family: var(--font__header);
    }
    @media screen and (max-width: 800px) {
      padding: 1em;
    }
  }
  .photos {
    columns: 12;
    column-gap: 0.5em;
    margin-top: 1em;
    a {
      margin-bottom: 0.5em;
      display: block;
    }
    @media screen and (max-width: 1000px) {
      columns: 10;
    }
    @media screen and (max-width: 800px) {
      columns: 8;
    }
    @media screen and (max-width: 600px) {
      columns: 6;
    }
    @media screen and (max-width: 400px) {
      columns: 4;
    }
  }
}