.tag {
  display: inline-block;
  background: var(--secondary__light);
  padding: 0.25em 0.5em;
  font-size: 0.8em;
  margin: 0.5em 0.25em 0 0;
  border-radius: 0.25em;
  text-transform: uppercase;
}

.tags a {
  text-decoration: none;
  color: var(--dark) !important;
}