#talk-page #top {
  text-align: center;
  margin-top: 2em;
}
#talk-page #top h1 {
  color: var(--pink);
  font-size: 3em;
}
#talk-page #top p {
  font-size: 1.25em;
  margin-top: 1rem;
}

#talk-page iframe {
  margin-top: 2.5rem;
  width: 100%;
  height: 600px;
}

#talk-page main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  margin-top: 2em;
}

#talk-page main small {
  display: block;
  margin-top: 1em;
  font-size: 1rem;
  opacity: 0.8;
}

#talk-page main a {
  color: inherit;
}

#talk-page main p {
  margin-top: 1em;
}

#talk-page aside section {
  background: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

#talk-page aside a {
  color: var(--blue);
}

#talk-page .abstract {
  margin-bottom: 1em;
}

@media screen and (max-width: 1000px) {
  #talk-page iframe {
    height: 56vw;
  }
}

@media screen and (max-width: 800px) {
  #talk-page #top h1 {
    font-size: 2em;
  }
  #talk-page iframe {
    margin-top: 2em;
  }
  #talk-page main {
    grid-template-columns: 1fr;
    grid-template-areas: 'meta' 'transcripts';
  }
  #talk-page main article {
    grid-area: transcripts;
  }
  #talk-page aside {
    grid-area: meta;
  }
  #talk-page aside section {
    margin-bottom: 0;
    margin-top: 1em;
  }
}