#talks-list h1 {
  margin: 3rem 0 1rem;
  font-family: var(--font__header);
  color: var(--pink);
  font-size: 2rem;
}

#talks-list .list {
  columns: 2;
}

@media screen and (max-width: 800px) {
  #talks-list .list {
    columns: 1;
  }
}