$secondary: #037456;
$secondary__light: #e1ffe4;

$primary: #5853C5;
$primary__light: #6c66ce;
$primary__dark: #322ca9;

$body__color: #f1f9fe;

$sky: #C2E4EF;
$orange: #FFE8BE;
$dark: #2C2A3C;
$grey: #5F6C7B;

:root {
  --secondary: #{$secondary};
  --secondary__light: #{$secondary__light};
  --primary: #{$primary};
  --primary__light: #{$primary__light};
  --primary__dark: #{$primary__dark};
  --sky: #{$sky};
  --orange: #{$orange};
  --dark: #{$dark};
  --grey: #{$grey};
  --body__color: #{$body__color};

  --font__body: 'EB Garamond', serif;
  --font__header: 'IBM Plex Sans', sans-serif;
}