:root {
  --pink: #dd6f73;
  --pink__light: #f9e0e1;
  --blue: #5853C5;
  --blue__light: #6c66ce;
  --blue__dark: #322ca9;
  --sky: #C2E4EF;
  --orange: #FFE8BE;
  --dark: #2C2A3C;
  --grey: #5F6C7B;

  --font__body: 'EB Garamond', serif;
  --font__header: 'IBM Plex Sans', sans-serif;
}