---
layout: base
---

<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class='text-center tracking-tight leading-2 font-extrabold pb-16' >
      <h1 class="text-3xl text-pink-600 sm:text-5xl sm:leading-none md:text-6xl">{{title}}</h1>
    </div>
    <div class="prose prose-lg text-gray-700 mx-auto">
      {{ content }}
    </div>
  </div>
</div>
