---
permalink: couch/
sponsor-list:
  - name: Balsamiq
    file: balsamiq
    url: https://balsamiq.com/
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jan 15 & 16 2021 - You Got This From Your Couch</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="https://yougotthis.io/assets/couch/og.png">
  <meta name="description" content="A network of community conferences on the non-technical 'core' skills needed for a happy, healthy work life.">
  <meta name="og:description" content="A network of community conferences on the non-technical 'core' skills needed for a happy, healthy work life.">
  <meta name="monetization" content="$ilp.uphold.com/DBEbnWEmPyJJ">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✊</text></svg>">
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Handlee&family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/couch/couch.css">
</head>
<body>
  {% include header %}
  <div id="top">
    <img src="/assets/couch/composition.png" class='d' alt="You Got This From Home. January 15 & 16 2021.">
    <img src="/assets/couch/composition-mobile.png" class='m' alt="You Got This From Home. January 15 & 16 2021.">
    <div class="m">
      
    </div>
  </div>

  <div id="sections">
    <section style="background: var(--yellow)">
      <div class="inner">
        <h1>What is You Got This From Your Couch?</h1>
        <p>A digital community conference, which focuses on the non-technical 'core' skills for a happy, healthy work life. Tickets will grant you access to our workshops on Fri 15th, and the talks will be streamed online (for free!) on Sat 16th.</p>
      </div>
    </section>

    <section style="background: var(--green)">
      <div class="inner">
        <h1>Submit a talk</h1>
        <p>If you are interested in giving a talk, click here to fill out our CFP to submit your talk. Speakers will be paid £150 for their 25 minute talk with a 10 minute curated Q & A from the audience. The deadline is 30th September 2020, we welcome beginners and the experienced alike!</p>
      </div>
    </section>

    <section style="background: var(--blue)">
      <div class="inner">
        <h1>Sponsors</h1>
        <div class="sponsor-list">
          {% for sponsor in sponsor-list %}
            <a href="{{sponsor.url}}">
              <img src="/assets/couch/sponsors/{{sponsor.file}}.png" alt="{{sponsor.name}}">
            </a>
          {% endfor %}
        </div>
        <div class="sponsor-event">
          <span id="sponsor-toggle">
            Sponsorship information 
            <span id="right" class='finger on'>👉</span>
            <span id="down" class='finger'>👇</span>
          </span>
          <article id="sponsor-info">
            <p>Sponsors allow us to keep You Got This workshops affordable and the online conference free to access. We pay our speakers, have a live captioner, and provide a number of free tickets to paid activities as part of our inclusion programme.</p>
            <p><b>Key info: </b> 20-40 in each workshop, 300 for conference live (plus further views on-demand). Audience is a mix of primarily early-career and mid-career developers. We also have content for team leaders, though they make up a smaller amount of our audience.</p>
            <p><b>Sponsorship Tier 1 (£1,000): </b>Logo on site, in tweets of thanks, incorporated in livestream graphics, and in front/end bumpers for talk recordings. 5 min pre-recorded talking slot during conference day. Sponsor channel in community Discord during January. Can run a raffle during event.</p>
            <p><b>Sponsorship Tier 2 (£3,000): </b>Everything in Tier 1, Co-brand event (presented by ACME Corp, for example), 10 minute live talking slot on conference day. One available</p>
            <p><b>Extras: </b> Pay for one day of captioning for £1,700 (two available).</p>
            <p><b>Previous sponsors:</b> AND Digital, Auth0, Balsamiq, BuzzFeed, Contentful, DigitalOcean, DXW Digital, Futuregov, GitHub, Hired, Indee, LaunchDarkly, MongoDB, Monzo, Mozilla, Nedap, NotBinary, Proactive, Pusher, Samsung Internet, Twilio, Verge, Vonage and Wild Rocket.</p>
            <p><b>Interested?</b> Excellent! Send an email to <a href="mailto:kevin@yougotthis.io">kevin@yougotthis.io</a>.</p>
          </article>
        </div>
      </div>
    </section>

    <script>
      document.getElementById('sponsor-toggle').addEventListener('click', () => {
        document.getElementById('sponsor-info').classList.toggle('on')
        document.getElementById('right').classList.toggle('on')
        document.getElementById('down').classList.toggle('on')
      })
    </script>

    <section style="background: var(--red)">
      <div class="inner">
        <h1>Frequently Asked Questions</h1>
        <dt>How much will tickets cost?</dt>
        <dd>Workshop tickets will be £25 each or £70 for all three. The conference is free of charge. Tickets for all will be available on November 1 2020. <a href="https://buttondown.email/yougotthisconf">Register to our mailing list for a reminder.</a></dd>
        <dt>What are you doing to make this event accessible?</dt>
        <dd>The event will be live captioned and will be included in the stream. Post-event we will provide recordings and transcripts. Speakers are paid for their time. A number of free tickets will be made available for our workshops as part of our inclusion program.</dd>
        <dt>Will the talks be recorded?</dt>
        <dd>The conference talks will be recorded, but the workshops will not be recorded.</dd>
        <dt>How does your talk submission process work?</dt>
        <dd>Submit before the end of September 30 2020. We will anonymize submissions of names, pronouns, and any other identifying features. Once this is done, we will provide submissions to an external panel for review. We will respond to every submission by October 20 2020, but won't be able to provide feedback on submissions.</dd>
        <dt>How does your inclusion programme work?</dt>
        <dd>Our inclusion programme provides workshop tickets for those in under-represented groups in tech. This includes, but isn't limited to: LGBTQIA+ people, people of colour, women, non-binary people, and those with disabilities. Applications will be open November 1 to November 15, will be a short 5 minute form, and prioritizes our understanding of what you will hope to get out of the event over the need to disclose any sensitive information.</dd>
        <dt>Who is behind You Got This?</dt>
        <dd>You Got This is a network of community conferences facilitated by <a href="https://twitter.com/_phzn">Kevin Lewis</a>. You Got This From Your Couch replaces You Got This London 2021 and is organized by Kevin, <a href="https://twitter.com/thekatiejoy">Katie Whittington</a>, <a href="https://twitter.com/MarkelaZeneli">Markela Zeneli</a> and <a href="https://twitter.com/RedRoxProjects">Amy Dickens</a>.</dd>
        <dt>How can I ask more questions?</dt>
        <dd>Send them over to <a href="mailto:kevin@yougotthis.io">kevin@yougotthis.io</a> and if the question is likely to be useful to others we will update this FAQ.</dd>
      </div>
    </section>

  </div>


  <div class="bottom">
    <img src="/assets/couch/cat.svg" alt="Cat cartoon">
  </div>

  {% include footer %}

</body>
</html>