---
layout: base
eleventyExcludeFromCollections: true
permalink: /
---

<div id="home">
  {% include home_top %}
  {% include home_photos %}
  {% comment %} {% include home_upcoming %} {% endcomment %}
  {% include talks_list, title: 'Talks From Previous Events' %}
  {% include home_sponsors %}
</div>