---
layout: base
eleventyExcludeFromCollections: true
permalink: /
---

<div id="home">
  {% include home_top %}
  {% include home_photos %}
  {% include home_upcoming %}
  {% include talks_list, title: 'Talks From Previous Events' %}
  {% include home_sponsors %}
  {% include home_past %}
</div>