---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<div id='tag-page'>
  <h1>Talks tagged <span>{{ tag | replace: "-", " " }}</span></h1>
  {% include talks_list, filter: tag %}
</div>