---
layout: base
eleventyExcludeFromCollections: true
---

<div id="home">
  {% include home_top %}
  {% include home_photos %}
  {% include home_upcoming %}
  {% include home_talks %}
  {% include home_sponsors %}
</div>